@import url("https://use.typekit.net/jqn6qws.css");
@import "tailwindcss";

@theme inline {
  --font-abrilFatface: "Abril Fatface", sans-serif;
  --font-droid: "Droid Sans", arial, sans-serif;
  --primary-color: rgb(16, 120, 158);
  --color-header: var(--primary-color);
  --blue-filter: grayscale(0) sepia(1) saturate(2) hue-rotate(175deg);
}

body {
  font-family: var(--font-droid);
}
.filter {
  filter: var(--blue-filter);
}

/* .nav {
  img {
    transition: filter 0.3s;
  }
  &:hover {
    img {
      filter: none;
    }
    span {
      color: var(--primary-color);
    }
  }
} */
